<div class="form-group">
</div>

<table class="table table-striped table-bordered">
  <thead>
      <tr>
          <th scope="col" *ngFor="let column of displayedColumns">
              {{column}}
          </th>
      </tr>
  </thead>
  <tbody>
      <tr *ngFor="let fila of lista_pista">
       
          <td>{{fila.nombre}}</td>
          <td>{{fila.pista}}</td>
          <td>{{fila.artista}}</td>
          <td> <button class="btn btn-primary" (click)="dada=fila.pista" (click)="dada1=fila.pista">play</button></td>
          <td>{{fila.albun}}</td>
          <td (click)="afegir_favorits(fila.pista,fila.artista,fila.albun,fila.imatge,fila.nombre)">favorit</td>
      </tr>
  </tbody>
</table>
<table>
<tbody>
  <tr *ngFor="let fila of listafavoritos">
   
      <td>{{fila.nombre}}</td>
      <td>{{fila.pista}}</td>
      <td>{{fila.artista}}</td>
      <td> <button class="btn btn-primary" (click)="dada=fila.pista" (click)="dada1=fila.pista">play</button></td>
      <td>{{fila.albun}}</td>
     
  </tr>
</tbody>
</table>
<div [ngSwitch]="dada" *ngFor="let fila of lista_pista">
  
  <ng-container *ngSwitchCase="fila.pista">
    <h2>{{fila.pista}}</h2>
    <audio src="assets/{{fila.imatge}}.mp3" autoplay controls></audio>
  </ng-container>
  
</div>
<i class="fa fa-pencil-square-o" aria-hidden="true"></i>
